body
{ 
  font: "Trebuchet MS", sans-serif; margin: 3px; min-height:100%;
  background-color: #CCCCCC;
}

#colorSelector {
	position: absolute;
	top: 30px;
	left: 5px;
	width: 36px;
	height: 36px;
	background: url(../images/select2.png);
}
#colorSelector div {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: url(../images/select2.png) center;
}
#colorpickerHolder {
	top: 60px;
	left: 5px;
	width: 356px;
	height: 0;
	overflow: hidden;
	position: absolute;
}

#colorpickerHolder .colorpicker input {
	color: #778398;
}

#dialog-title{
	padding:5px;
	text-align:center;
}

#inputDiv{
	position: absolute;
	top: 34px;
	left: 42px;
	width: 250px;
	height: 36px;
}


#inputDiv input{
	height: 22px;
	width:100%;
	font-size:16px;
}

#buttonDiv{
	position: absolute;
	top: 34px;
	left: 300px;
	height:36px;
	width:60px;
}

#buttonDiv button{
	height: 28px;
	width:100%;
	font-size:16px;
}
